<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="row mt-5">
        <div class="col-4"></div>
        <div class="col-4 mt-3">
            
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Date:</label>
                <input type="text" class="form-control" required [(ngModel)]="a.date" name="date" >
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Duree:</label>
                <input type="text" class="form-control" required [(ngModel)]="a.duree" name="duree" >
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Lieu:</label>
                <input type="text" class="form-control" required [(ngModel)]="a.lieu" name="lieu"  >
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Type:</label>
                <input type="text" class="form-control" required [(ngModel)]="a.type" name="type">
              </div>
             
              
              <button type="button" class="btn btn-success " (click)="submit()">Submit</button>
        </div>
        <div class="col-4"></div>
    </div>
</div>
  
 